!!!5
%html
  %head
    // slinky_scripts
    // slinky_styles
  %body
    %header
      %h1 set
      .button.more
        more cards
      .button.hint
        hint

    #main

    :javascript
      window.game = new SetGame(document.getElementById("main")).render();
